<div class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <img src="/assets/images/logo.png" height="70px" alt="Image" />
            <h3 style="color: whitesmoke; margin-left: 5px;">ICTAK</h3>
        </div>
        <div class="nav-item">
            <a href="#">Home</a>
        </div>
    </nav>
  </div>
  
  
  
  <div class="container row pt-5" >
  <form #usersignup="ngForm" (ngSubmit)="userverify()" class="col col-md-6 offset-4 pt-5 pb-2 signupform" >    <!-- this is used for template driven -->
    <h2 class="text-center" >Sign Up</h2> 
    <div class="form-group">
      <label for="fullname">Full Name</label>
      <input type="text" class="form-control"[(ngModel)]='User.fullname' #fullname="ngModel" [class.is-invalid]="fullname.invalid && fullname.touched" name="fullname" required >
      <small class="text-danger" [class.d-none]="fullname.valid||fullname.touched">Enter Full Name</small>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"[(ngModel)]='User.email' #email="ngModel" [class.is-invalid]="email.invalid && email.touched" name="email" required pattern="^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3})?$" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small class="text-danger" [class.d-none]="email.valid||email.touched">Enter valid email.</small>
      <small class="text-danger" [class.d-none]="email.valid">Eg:abc1.@abc.com</small>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" [(ngModel)]='User.password' #password="ngModel" name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" [class.is-invalid]="password.invalid && password.touched"  minlength="8" maxlength="12" id="exampleInputPassword1">
   
    <small class="text-danger" [class.d-none]="password.valid">Password must be 8-12 characters amd should contain numbers,small & capital letters</small>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input type="password" class="form-control" [(ngModel)]='User.cpass' #cpass="ngModel" name="cpass" [class.is-invalid]="password.invalid && password.touched" required minlength="8" id="exampleInputPassword1">
      <!-- <small class="error-msg text-danger" [class.d-none]="email.valid">Password must be 8-12 characters amd should contain numbers,small & capital letters</small> -->
      <span class="error-msg" *ngIf="(cpass.touched || usersignup.submitted) && User.password!==User.cpass">Password and Confirm password must be same.</span>
    </div>
    <br>
    <a routerLink="/login" style="color: black;">Already have an account</a>
    <br>
    <button type="submit" style="background-color: black;" class="btn btn-primary "[disabled]="usersignup.form.invalid">Submit</button>
  </form>
  </div>
  
  